.env
/*

!wordpress/
!wordpress/wp-content/
!wordpress/wp-content/**
!*.sql

wordpress/wp-content/uploads/
wordpress/wp-content/cache/
wordpress/wp-content/upgrade/
wordpress/wp-content/backups/
wordpress/wp-content/ai1wm-backups/
wordpress/wp-content/debug.log

*.log
*.zip
*.tar.gz

node_modules/
vendor/
.env
.DS_Store
Thumbs.db
.idea/
.vscode/
*.sublime-*

wordpress/wp-admin/
wordpress/wp-includes/
wordpress/index.php
wordpress/xmlrpc.php
wordpress/license.txt
wordpress/readme.html
wordpress/wp-*.php
