.contact-card .wp-block-media-text {
    grid-template-columns: 6% auto !important;
}
.contact-card .wp-social-link {
    box-shadow: 0px 5px 5px 0px #00000040;
    transition: 0.3s ease;
    font-size: 32px;
    width: 200px !important;
    background: linear-gradient(-90deg, #c65094 0%, #4884c3 50%, #6c3088 100%);
}

.contact-card .wp-social-link:hover {
    background-color: #575756;
    box-shadow: 0px 7px 7px 0px #00000040;
    transform: scale(1);
}

.contact-card .wp-social-link-facebook {
    background: linear-gradient(-90deg, #5199d9 0%, #4884c3 50%, #5199d9 100%);
}

@media (max-width: 780px) {
    .wp-block-social-links {
        justify-content: center;
    }
    .contact-europass__label {
        text-align: center;
    }
}