.footer-wrapper {
	background: linear-gradient(90deg, #c65094 0%, #4884c3 49.52%, #6c3088 100%);
	color: white;
	font-size: 16px;
	font-weight: 400;
}

.footer-wrapper::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 130px;
    background: #fff;
    z-index: 2;
    clip-path: polygon(0 0%, /* лівий верх (нижче) */ 100% 0%, /* правий верх (вище) */ 100% 0%, 0 70%);
}
.footer {
	display: flex !important;
	align-items: flex-start !important;
	justify-content: space-between !important;
	border-bottom: solid white 1px;
}
.footer-nav__list-colum .wp-block-navigation__container a {
	padding: 0 26px;
}
.footer-nav__list-colum
	.wp-block-navigation__container
	.current-menu-item
	a::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 8px;
	background: #fff56e;
	z-index: 1;
}
.footer-nav__list-colum .wp-block-navigation__container .current-menu-item a {
	color: #fff56e;
}

.footer-nav__list-colum__header {
	font-weight: 700;
}

.test {
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer-copyright {
	position: relative;
	background: none;
	border-radius: 24px;
	padding: 16px;
	box-shadow: none;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	margin: 0;
}
.footer-copyright:hover {
	color: #fff56e;
}
