.hero__wrpapper {
	position: relative;
	background: linear-gradient(90deg, #c65094 0%, #4884c3 50%, #6c3088 100%);
}

.hero__wrpapper::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 80px;
	background: white;
	clip-path: polygon(0 100%, 100% 0%, 100% 100%);
}
.hero {
}
.hero__content {
	width: 50% !important;
}

.hero__image {
	width: 50% !important;
	height: 100% !important;
	padding-top: 100px;
}
.hero__header {
	font-size: 48px;
	font-weight: 700;
}
.hero__paragraph {
	font-size: 16px;
	font-weight: 400;
}
.hero__bottom {
	font-size: 14px;
	font-weight: 700;
}

/* 📺 XL – великі монітори */
@media (max-width: 1440px) {
	.hero__header {
		font-size: 44px;
		font-weight: 700;
	}
}

/* 💻 LG – ноутбуки */
@media (max-width: 1280px) {
	.hero__header {
		font-size: 42px;
		font-weight: 700;
	}
}

/* 💻 MD – планшети горизонтально */
@media (max-width: 1024px) {
	.hero__header {
		font-size: 34px;
		font-weight: 700;
	}
	.hero__paragraph {
		font-size: 12px;
		font-weight: 400;
	}
	.hero__bottom a {
		font-size: 12px;
		padding: 13px 30px !important;
	}
	.hero__wrpapper::after {
		clip-path: polygon(0 100%, 135% 0%, 100% 100%);
	}
}

@media (max-width: 880px) {
	.hero__header {
		font-size: 28px;
		font-weight: 700;
	}
	.hero__paragraph {
		font-size: 12px;
		font-weight: 400;
	}
	.hero__wrpapper::after {
		clip-path: polygon(0 100%, 135% 0%, 100% 100%);
	}
}
/* 📱 SM – планшети вертикально */
@media (max-width: 768px) {
	.hero__header {
		font-size: 20px;
		font-weight: 700;
	}
	.hero__paragraph {
		font-size: 12px;
		font-weight: 400;
	}
	.hero__bottom a {
		font-size: 12px;
		padding: 10px 24px !important;
	}
	.hero__wrpapper::after {
		clip-path: polygon(0 100%, 135% 0%, 100% 100%);
	}
}

@media (max-width: 610px) {
	.hero__wrpapper::after {
		clip-path: polygon(0 100%, 190% 0%, 100% 100%);
	}
}

/* 📱 XS – великі телефони */
@media (max-width: 576px) {
	.hero {
		display: flex !important;
		flex-direction: column !important;
		align-items: flex-start;
	}
	.hero__content {
		width: 100% !important;
		max-width: 320px !important;
	}
	.hero__header {
		padding-top: 35px;
	}
	.hero__image {
		width: 100% !important;
		height: 100% !important;
		padding-top: 25px;
		display: flex;
		justify-content: center;
	}
	.hero__image img {
		width: 100% !important;
		height: 100% !important;

		max-height: 260px;
		max-width: 350px;
	}
}

/* 📱 XXS – маленькі телефони (iPhone SE) */
@media (max-width: 375px) {
	/* ... */
}
