.main__tools-europass__card {
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
	transition:
		box-shadow 0.3s ease,
		transform 0.3s ease;
}
.main__tools-europass__card-button {
	margin-top: auto;
}
.main__tools-europass__card-button a {
	position: relative;
	transition: 0.5s ease;
}
.main__tools-europass__card:hover {
	box-shadow: 0 8px 30px rgba(0, 0, 0, 0.25);
	transform: translateY(-5px);
	z-index: 2;
	background-color: #f2f2f7 !important;
}
.main__tools-europass__card-button a:hover {
  box-shadow: 0 0 0 2px #575756;
  z-index: 1;
}

.main__tools-europass__card-button:not(.btn-yellow) a::after {
	content: "";
	position: absolute;
	inset: 0;
	background: linear-gradient(88deg, #C65094 0%, #4884C3 50%, #6C3088 100%);
	z-index: -1;
	border-radius: inherit;
	transition: opacity 0.4s ease;
}
.main__tools-europass__card-button:not(.btn-yellow) a:hover::after {
  opacity: 1;
}

@media (max-width: 1200px) {
	.main__tools-europass {
		grid-template-columns: 1fr 1fr;
	}
}

@media (max-width: 800px) {
	.main__tools-europass {
		grid-template-columns: 1fr;
	}
}

