.national-centers-search-wrapper {
    width: 40%;
    margin-right: auto;
    margin-left: auto;
}

.centers-country-card img {
    border-radius: 5px;
}

.centers-country-card .wp-block-group-is-layout-constrained {
    box-shadow: 0px 4px 6px 0px #00000040;
}

@media (max-width: 800px) {
  .national-centers-search-wrapper {
      width: 100%;
  }
}