.profile-europas__about__wrapper {
	color: #575756 !important;
	/* margin-bottom: 40px; */
}
.profile-europas__about {
	position: relative;
}

.profile-europas__about__wrapper::before {
	content: "";
	position: absolute;
	top: -72px;
	left: 0;
	width: 27%;
	height: 160%;
	background-color: #f2f2f7;
	z-index: -1;
	clip-path: polygon(0% 91%, 0% 9%, 100% 6%, 100% 94%);
}
.profile-europas__about__content {
	font-size: 16px;
	margin-top: 40px;
}

.profile-europas__about__content__text {
	width: 50%;
}
.profile-europas__about__img {
	width: 34%;
	clip-path: polygon(0% 100%, 8% 8%, 95% 0%, 100% 90%);
	overflow: hidden;
}

/* 📺 XL – великі монітори */
@media (max-width: 1440px) {
	/* ... */
}

/* 💻 LG – ноутбуки */
@media (max-width: 1280px) {
	/* ... */
}

/* 💻 MD – планшети горизонтально */
@media (max-width: 1024px) {
	.profile-europas__about__wrapper {
		color: #575756 !important;
	}
	/* .profile-europas__about__wrapper::before {
		top: 26px;
	} */
	.profile-europas__about {
	}
	.profile-europas__about__header {
		font-size: 30px;
	}
	.profile-europas__about__content {
		font-size: 14px;
		margin-top: 20px;
	}

	.profile-europas__about__content__text {
		width: 50%;
	}
	.profile-europas__about__img {
		width: 50%;
		clip-path: polygon(0% 100%, 8% 8%, 95% 0%, 100% 90%);
		overflow: hidden;
	}
}

/* 📱 SM – планшети вертикально */
@media (max-width: 768px) {
	.profile-europas__about__content {
		display: flex;
		flex-direction: column;
	}

	.profile-europas__about__content__text {
		width: 100%;
	}
	.profile-europas__about__img {
		width: 100%;
		clip-path: polygon(0% 100%, 8% 8%, 95% 0%, 100% 90%);
		overflow: hidden;
	}

	/* .profile-europas__about__wrapper::before {
		content: "";
		position: absolute;
		top: auto !important; 
		bottom: -35px;
		right: 0;
		width: 46%;
		height: 67vw;
		background-color: #f2f2f7; 
		z-index: -1;
		clip-path: polygon(0% 91%, 0% 9%, 100% 6%, 100% 94%);
	} */
}

/* 📱 XS – великі телефони */
@media (max-width: 576px) {
	.profile-europas__about__wrapper::before {
		bottom: -35px;
		height: 70vw;
	}
}

/* 📱 XXS – маленькі телефони (iPhone SE) */
@media (max-width: 375px) {
	.profile-europas__about__wrapper::before {
		bottom: -30px;
		height: 71vw;
	}
}
