<!-- wp:template-part {"slug":"header","theme":"europass-theme-default","tagName":"header"} /-->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:heading {"level":1} -->
<h1 class="wp-block-heading">Результати пошуку</h1>
<!-- /wp:heading -->

<!-- wp:search {"label":"Пошук","showLabel":false,"buttonText":"Пошук"} /--></div>
<!-- /wp:group -->

<!-- wp:query {"queryId":31,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true,"taxQuery":null,"parents":[],"format":[]},"layout":{"type":"constrained"}} -->
<div class="wp-block-query"><!-- wp:post-template -->
<!-- wp:tiptip/hyperlink-group-block {"queryLoopLink":true,"metadata":{"name":"Посилання"}} -->
<a class="wp-block-hyperlink-group"><div class="wp-block-tiptip-hyperlink-group-block"><!-- wp:group {"metadata":{"name":"Записи"},"className":"only-post","layout":{"type":"constrained"}} -->
<div class="wp-block-group only-post"><!-- wp:group {"className":"card-inner"} -->
<div class="wp-block-group card-inner"><!-- wp:post-featured-image {"className":"card-image"} /-->

<!-- wp:group {"className":"card-body"} -->
<div class="wp-block-group card-body"><!-- wp:post-title {"level":3,"className":"card-title"} /-->

<!-- wp:separator {"className":"card-bar"} -->
<hr class="wp-block-separator has-alpha-channel-opacity card-bar"/>
<!-- /wp:separator -->

<!-- wp:post-excerpt {"className":"card-excerpt"} /-->

<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
<div class="wp-block-group"><!-- wp:post-date {"className":"card-date"} /-->

<!-- wp:paragraph {"className":"badge badge-post"} -->
<p class="badge badge-post">Новина</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"Сторінки"},"className":"only-page","layout":{"type":"constrained"}} -->
<div class="wp-block-group only-page"><!-- wp:group {"className":"card-inner no-image"} -->
<div class="wp-block-group card-inner no-image"><!-- wp:group {"className":"card-body"} -->
<div class="wp-block-group card-body"><!-- wp:post-title {"level":3,"className":"card-title"} /-->

<!-- wp:separator {"className":"card-bar"} -->
<hr class="wp-block-separator has-alpha-channel-opacity card-bar"/>
<!-- /wp:separator -->

<!-- wp:post-excerpt {"className":"card-excerpt"} /-->

<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"right"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"className":"badge badge-page"} -->
<p class="badge badge-page">Сторінка</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div></a>
<!-- /wp:tiptip/hyperlink-group-block -->
<!-- /wp:post-template -->

<!-- wp:query-pagination -->
<!-- wp:query-pagination-previous /-->

<!-- wp:query-pagination-numbers /-->

<!-- wp:query-pagination-next /-->
<!-- /wp:query-pagination -->

<!-- wp:query-no-results -->
<!-- wp:paragraph {"placeholder":"Додати текст або блоки, які відображатимуться, коли запит не повертає результатів."} -->
<p></p>
<!-- /wp:paragraph -->
<!-- /wp:query-no-results --></div>
<!-- /wp:query -->